.alert {
	margin-top: 20px;
}

.buttons {
	display: inline-block;
	margin: 5px;
}

.folding-caret {
	width: 14px;
	cursor: pointer;
}

.fa.empty {
	width: 14px;
	height: 25px;
}

.fa.delete {
	color: #F00;
}

.tour-block h4,
.album-block h4 {
	display: inline-block;
	margin: 0;
}

.albums-block, .images-block {
	margin-left: 50px;
	padding: 10px;
}

.tour-block,
.album-block {
	position: relative;
	margin-bottom: 20px;
}

.tour-block .folding-caret,
.tour-block .fa.empty,
.album-block .folding-caret,
.album-block .fa.empty {
	position: absolute;
	top: 40px;
	left: 1px;
}

.tour-block h4,
.album-block h4 {
	position: relative;
	margin: 0 15px;
	padding: 5px;
	background-color: #E0E0DD;
	border: 1px solid #F0F0EE;
	border-radius: 5px;
}

.tour-block .edit,
.album-block .edit {
	display: inline-block;
}

.tour-block .edit img,
.album-block .edit img {
	width: 100px;
}

.tour-block h4 .delete,
.album-block h4 .delete {
	position: absolute;
	top: 5px;
	right: 3px;
	opacity: .8;
	cursor: pointer;
	display: none;
}

.tour-block h4:hover .delete,
.album-block h4:hover .delete {
	display: block;
}

.tour-block .newAlbum,
.album-block .newImage {
	display: block;
	margin-top: 10px;
}

.images-block {
	overflow: hidden;
	max-width: 726px;
}

.image-block {
	float: left;
	padding: 10px;
	margin: 10px;
	max-width: 200px;
	height: 250px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}

.image-block img {
	width: 200px;
}

.image-block .editImage {
	position: relative;
	display: inline-block;
}

.image-block .editImage .delete {
	position: absolute;
	top: 5px;
	right: 3px;
	opacity: .8;
	display: none;
}

.image-block .editImage:hover .delete {
	display: block;
}

.image-block .imageDesc {
	margin: 5px;
}

.modal input[type="text"] {
	width: 200px;
}

#imageEdit {
	left: 44%;
	width: 700px;
}

#imageEdit .form-horizontal .control-label {
	width: 90px;
}

#imageEdit .form-horizontal .controls {
	margin-left: 100px;
}



.page-block .delete {
	cursor: pointer;
}

#edit-page .control-label {
	width: 63px;
}

#edit-page .controls {
	margin-left: 70px;
}

#edit-page .btn-primary {
	margin: 20px 0;
}

#loader-block {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 0.5;
	background: #D4D4D4;
	text-align: center;
}

#loader-block img {
	position: absolute;
	top: 48%;
	left: 50%;
}
