#container {
	width: 1030px;
}

.alert {
	margin-top: 20px;
}

.folding-caret {
	width: 14px;
	cursor: pointer;
}

.fa.empty {
	width: 14px;
	height: 25px;
}

.fa.delete {
	color: #F00;
}

.album-block h4 {
	display: inline-block;
	margin: 0;
}

.album-block h4 .title {
	margin-left: 10px;
}

.albums-block, .images-block {
	margin-left: 50px;
	padding: 10px;
}

.album-block {
	position: relative;
	margin-bottom: 20px;
}

.album-block .folding-caret,
.album-block .fa.empty {
	position: absolute;
	top: 35px;
	left: 1px;
}

.album-block h4 {
	position: relative;
	margin: 10px 15px;
	padding: 5px;
	background-color: #E0E0DD;
	border: 1px solid #F0F0EE;
	border-radius: 5px;
	cursor: pointer;
	width: 800px;
}

.album-block h4.small {
	width: 740px;
}

.album-block img {
	width: 100px;
}

.album-block .album-buttons:not(.hide) {
	display: inline-block;
}

.album-block .album-add {
	margin: 0 10px;
}

.album-block .delete {
	cursor: pointer;
}

.image-block {
	overflow: hidden;
	float: left;
	padding: 10px;
	max-width: 200px;
	height: 240px;
}

.image-block.newImage {
	width: 198px;
	text-align: center;
	color: #008000;
}

.image-block.newImage .new-image-block {
	width: 200px;
	height: 150px;
	line-height: 178px;
	border: 2px dotted #008000;
	border-radius: 5px;
	cursor: pointer;
}

.image-block.newImage:hover .new-image-block {
	background-color: #D4D4D4;
	border: 2px solid #008000;
}

.image-block img {
	width: 200px;
}

.image-block .desc {
	display: none;
}

.image-block .editImage {
	position: relative;
	display: block;
}

.image-block .editImage .delete {
	position: absolute;
	top: 5px;
	right: 3px;
	opacity: .8;
	display: none;
}

.image-block .editImage:hover .delete {
	display: block;
}

.image-block .imageDesc {
	margin: 5px;
}




.modal {
	left: 54%;
	width: 425px;
}

.modal.wide {
	left: 44%;
	width: 700px;
}

.modal.wide .modal-body {
	max-height: 450px;
}

.modal.fade.in {
	top: 30%;
}

.modal.fade.in.wide {
	top: 7%;
}


.modal input[type="text"] {
	width: 200px;
}


.modal .form-horizontal .control-label {
	width: 90px;
}

.modal .form-horizontal .controls {
	margin-left: 100px;
}



.deletePage {
	color: #F00;
	cursor: pointer;
}

#edit-page .control-label {
	width: 63px;
}

#edit-page .controls {
	margin-left: 70px;
}

#edit-page .btn-primary {
	margin: 20px 0;
}
