body {
	height: 100%;
}

#wrapper {
	width: 100%;
	height:100%;
	text-align: center;
}

#header {
	margin: 50px 0;
}

#container {
	
}

#footer {
	margin: 20px 0;
}

#albums-block {
	overflow: hidden;
	margin: 50px;
}

.album-block {
	float: left;
	margin: 20px;
}

.album-block a {
	text-decoration: none;
	color: #000000;
	font-size: 18px;
}

.album-block a .title {
	display: block;
	margin: 10px 0;
}