body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

#wrapper {
	width: 100%;
	height: 100%;
	text-align: center;
}

#header img {
	width: 603px;
	height: 223px;
}

#pageTitle {
	margin: 40px 0;
}

#footer {
	margin: 50px 0 10px 0;
	font-size: 14px;
}

.page-container {
	margin: 0 auto;
	width: 1000px;
	text-align: left;
}

#bread-crumbs {
	text-align: left;
	margin: 10px 25px;
}

#bread-crumbs.inalbum {
	margin-left: 190px;
}

#bread-crumbs a {
	color: #000000;
}

#bread-crumbs .fa-angle-right {
	margin: 0 5px;
}

#bread-crumbs .fa-arrow-left {
	margin: 0 20px 0 0;
}

#bread-crumbs span {
	font-weight: bold;
}

#albums-block {
	overflow: hidden;
}

#albums-block img {
	width: 200px;
	height: 130px;
}

.album-block {
	float: left;
	margin: 25px;
	width: 200px;
	min-height: 180px;
}

.album-block a {
	text-decoration: none;
	color: #000000;
	font-size: 18px;
}

.album-block a .title {
	display: block;
	margin: 10px 0;
}

.centered {
	margin: 0 auto;
	width: 1000px;
}

#description {
	text-align: left;
	width: 620px;
	margin: 0 auto 80px;
}